openapi: 3.1.0
info:
  title: Riverton Capital Controlled Beta API
  version: 2.0.0-beta
  description: >-
    三应用一库的核心浏览器接口合同。客户 paper 与平台 Demo 证据分离；
    真实支付、客户充值、客户交易所密钥、真实现货/永续和生产外部操作不启用。
servers:
  - url: https://agentnovas.com
    description: Client
  - url: https://zht.agentnovas.com
    description: Operations
  - url: https://xm.agentnovas.com
    description: Maintenance
tags:
  - name: Auth
  - name: Access
  - name: Trading Hall
  - name: Membership
  - name: Credits
  - name: Paper
  - name: Wallet
  - name: Operations
  - name: Maintenance
  - name: Health
paths:
  /api/auth/login:
    post:
      tags: [Auth]
      summary: 登录当前 audience
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: 登录成功并设置当前 audience Cookie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Viewer'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/auth/logout:
    post:
      tags: [Auth]
      summary: 注销当前 audience 会话
      responses:
        '200':
          description: 已注销
  /api/auth/me:
    get:
      tags: [Auth]
      summary: 当前会话用户
      responses:
        '200':
          description: 当前用户
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Viewer'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/access/me/effective:
    get:
      tags: [Access]
      summary: 当前 audience 有效权限
      responses:
        '200':
          description: 权限与数据范围
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EffectiveAccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/trading-hall:
    get:
      tags: [Trading Hall]
      summary: 官方三策略卡与最近七阶段决策轮
      description: 当前只返回 shadow/paper 运行状态，不表示真实现货订单已启用。
      responses:
        '200':
          description: 交易大厅数据
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradingHall'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/membership/plans:
    get:
      tags: [Membership]
      summary: 查询版本化会员计划
      responses:
        '200':
          description: 四档 v1 计划快照
          content:
            application/json:
              schema:
                type: object
                required: [plans]
                properties:
                  plans:
                    type: array
                    minItems: 4
                    maxItems: 4
                    items: { $ref: '#/components/schemas/CommercialPlan' }
  /api/membership/me:
    get:
      tags: [Membership]
      summary: 查询当前 trial 与会员权益
      responses:
        '200': { description: 当前 entitlement 安全视图 }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/membership/orders:
    get:
      tags: [Membership]
      summary: 查询当前客户会员订单
      responses:
        '200': { description: 订单列表，不含完整外部付款凭证 }
    post:
      tags: [Membership]
      summary: 创建人工付款会员订单
      description: 需要当前法务同意和 Idempotency-Key；不返回链上地址或二维码。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [planId]
              properties:
                planId: { type: string, enum: [monthly_v1, quarterly_v1, annual_v1, lifetime_v1] }
      responses:
        '201': { description: 已创建订单和人工付款指引 }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/Unprocessable' }
  /api/membership/performance-statements:
    get:
      tags: [Membership]
      summary: 查询当前客户 paper 盈利分成账单
      responses:
        '200': { description: paper 模拟分成安全视图 }
  /api/credits/me:
    get:
      tags: [Credits]
      summary: 查询 AI credits 余额与不可变流水
      responses:
        '200': { description: 可用、预留和分录 }
  /api/paper/portfolios:
    get:
      tags: [Paper]
      summary: 查询三张官方策略独立 paper 组合
      responses:
        '200':
          description: 每张卡初始 10,000 USDT，不代表真实资产
  /api/paper/portfolios/{id}/trades:
    get:
      tags: [Paper]
      summary: 查询服务端 paper 成交历史
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
        - in: query
          name: cursor
          schema: { type: string }
      responses:
        '200': { description: 当前客户所属组合的 cursor 分页成交 }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/wallet/balances:
    get:
      tags: [Wallet]
      summary: 查询平台服务余额
      description: 余额只能用于会员和 AI 服务，不是交易所策略资金。
      responses:
        '200':
          description: 余额列表
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WalletBalance'
  /api/wallet/deposit-orders:
    get:
      tags: [Wallet]
      summary: 查询服务充值订单
      responses:
        '200':
          description: 充值订单
  /api/operations/membership-orders:
    get:
      tags: [Operations]
      summary: 按 data scope 查询会员订单
      responses:
        '200': { description: cursor 分页与脱敏凭证状态 }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/operations/membership-orders/{id}/decision:
    post:
      tags: [Operations]
      summary: 第二人复核会员付款并幂等激活权益
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DecisionRequest' }
      responses:
        '200': { description: 审批与业务事务结果；不表示外部自动收款 }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
  /api/operations/performance-statements/generate:
    post:
      tags: [Operations]
      summary: 幂等生成上一完整 UTC 周 paper 分成账单
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '201': { description: 已生成或返回既有 statement }
        '409': { $ref: '#/components/responses/Conflict' }
  /api/operations/performance-statements/{id}/decision:
    post:
      tags: [Operations]
      summary: 业务复核分成账单并形成应收
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DecisionRequest' }
      responses:
        '200': { description: 只形成应收，不标 paid 或更新高水位 }
        '409': { $ref: '#/components/responses/Conflict' }
  /api/operations/deposits:
    get:
      tags: [Operations]
      summary: 按当前数据范围查询充值
      parameters:
        - in: query
          name: cursor
          schema: { type: string }
        - in: query
          name: status
          schema: { type: string }
      responses:
        '200':
          description: 已按权限脱敏的充值列表
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/operations/deposit-action-requests/{id}/decisions:
    post:
      tags: [Operations]
      summary: 第二人审批充值人工操作
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision, reason]
              properties:
                decision: { type: string, enum: [approve, reject] }
                reason: { type: string, minLength: 1, maxLength: 1000 }
      responses:
        '200':
          description: 审批已记录；不表示资金或账本已经执行
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
  /api/operations/ledger:
    get:
      tags: [Operations]
      summary: 查询不可变账本
      responses:
        '200':
          description: 当前数据范围内的交易与分录
  /api/maintenance/email/status:
    get:
      tags: [Maintenance]
      summary: 邮件集成安全状态
      responses:
        '200':
          description: 不含密钥和完整端点的状态
  /api/maintenance/payment-providers:
    get:
      tags: [Maintenance]
      summary: 支付服务商安全状态
      responses:
        '200':
          description: 不含密钥的 provider 列表
  /api/maintenance/payment-workers/health:
    get:
      tags: [Maintenance]
      summary: Payment Worker 健康
      responses:
        '200':
          description: configured/enabled/heartbeat/last result 分离的状态
  /api/maintenance/demo-exchanges:
    get:
      tags: [Maintenance]
      summary: 查询平台 Demo 账户安全视图
      responses:
        '200': { description: hasSecret/environment/permission/verification，不含 secret }
  /api/maintenance/demo-exchanges/{id}/verify:
    post:
      tags: [Maintenance]
      summary: 在固定测试域名验证平台 Demo 账户
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200': { description: provider-specific 真实测试结果或明确 fixture 状态 }
        '403': { $ref: '#/components/responses/Forbidden' }
        '503': { $ref: '#/components/responses/Unavailable' }
  /api/health/live:
    get:
      tags: [Health]
      summary: 粗粒度进程存活
      responses:
        '200': { description: alive 与时间，不含内部配置 }
  /api/health/ready:
    get:
      tags: [Health]
      summary: 粗粒度 readiness
      responses:
        '200': { description: ready }
        '503': { description: not_ready，不含内部错误 }
components:
  parameters:
    IdempotencyKey:
      in: header
      name: Idempotency-Key
      required: true
      schema: { type: string, minLength: 8, maxLength: 128 }
  securitySchemes:
    clientSession:
      type: apiKey
      in: cookie
      name: rc_client_session
    operationsSession:
      type: apiKey
      in: cookie
      name: rc_ops_session
    maintenanceSession:
      type: apiKey
      in: cookie
      name: rc_maint_session
  schemas:
    CommercialPlan:
      type: object
      additionalProperties: false
      required: [id, version, priceUsd, durationDays, credits, performanceFeeBps]
      properties:
        id: { type: string, enum: [monthly_v1, quarterly_v1, annual_v1, lifetime_v1] }
        version: { type: string, const: v1 }
        priceUsd: { type: string, pattern: '^[0-9]+\\.[0-9]{2}$' }
        durationDays: { type: [integer, 'null'] }
        credits: { type: integer, minimum: 0 }
        performanceFeeBps: { type: integer, enum: [1600, 2000] }
    DecisionRequest:
      type: object
      additionalProperties: false
      required: [decision, reason]
      properties:
        decision: { type: string, enum: [approve, reject] }
        reason: { type: string, minLength: 1, maxLength: 1000 }
    LoginRequest:
      type: object
      required: [account, password]
      properties:
        account: { type: string, minLength: 1, maxLength: 320 }
        password: { type: string, minLength: 10, maxLength: 1024 }
    Viewer:
      type: object
      required: [id, email, role]
      properties:
        id: { type: string }
        email: { type: string, format: email }
        role: { type: string }
        organizationId: { type: [string, 'null'] }
    EffectiveAccess:
      type: object
      required: [appId, source, user, permissions]
      properties:
        appId: { type: string, enum: [client, operations, maintenance] }
        source: { type: string, enum: [rbac, legacy_role] }
        user: { $ref: '#/components/schemas/Viewer' }
        permissions:
          type: object
          additionalProperties:
            type: string
            enum: [SELF, DIRECT_REPORTS, TEAM_TREE, ORGANIZATION, ORGANIZATION_SET, PLATFORM]
    TradingHall:
      type: object
      required: [productBoundary, strategies, agents, decisionRounds, generatedAt]
      properties:
        productBoundary:
          type: object
          required: [targetMarket, symbols, leverageEnabled, shortSellingEnabled, realOrderRoutingEnabled, localExchangeExecutionEnabled, currentExecutionMode, alignmentStatus]
          properties:
            targetMarket: { type: string, const: spot_usdt }
            symbols:
              type: array
              items: { type: string, enum: [BTCUSDT, ETHUSDT, SOLUSDT] }
            leverageEnabled: { type: boolean, const: false }
            shortSellingEnabled: { type: boolean, const: false }
            realOrderRoutingEnabled: { type: boolean, const: false }
            localExchangeExecutionEnabled: { type: boolean, const: false }
            currentExecutionMode: { type: string, enum: [shadow, paper, mixed_simulation, unavailable] }
            alignmentStatus: { type: string, const: simulation_only }
        strategies:
          type: array
          minItems: 3
          maxItems: 3
          items: { $ref: '#/components/schemas/TradingHallStrategy' }
        agents:
          type: array
          minItems: 7
          maxItems: 7
          items: { $ref: '#/components/schemas/TradingAgent' }
        decisionRounds:
          type: array
          items: { $ref: '#/components/schemas/DecisionRound' }
        generatedAt: { type: string, format: date-time }
    TradingHallStrategy:
      type: object
      required: [code, name, positioning, targetMarket, symbols, regimeTimeframe, decisionTimeframes, executionObservationTimeframe, typicalHoldingPeriod, normalParentOrderTarget, risk, status, executionMode, dataAvailable, openPositions]
      properties:
        code: { type: string, enum: [ai_conservative, ai_balanced, ai_aggressive] }
        name: { type: string }
        positioning: { type: string }
        targetMarket: { type: string, const: spot_usdt }
        symbols:
          type: array
          items: { type: string, enum: [BTCUSDT, ETHUSDT, SOLUSDT] }
        regimeTimeframe: { type: string, enum: [4h, 1h] }
        decisionTimeframes:
          type: array
          items: { type: string, enum: [1h, 15m] }
        executionObservationTimeframe: { type: string, const: 5m }
        typicalHoldingPeriod: { type: string }
        normalParentOrderTarget:
          type: object
          required: [minimum, maximum]
          properties:
            minimum: { type: integer }
            maximum: { type: integer }
        risk:
          type: object
          required: [maxAssetAllocationPct, maxTotalAllocationPct, riskPerTradePct, dailyLossHaltPct, maxDrawdownPct, maxNewEntriesPerDay, maxConcurrentAssets]
          properties:
            maxAssetAllocationPct: { type: number }
            maxTotalAllocationPct: { type: number }
            riskPerTradePct: { type: number }
            dailyLossHaltPct: { type: number }
            maxDrawdownPct: { type: number }
            maxNewEntriesPerDay: { type: integer }
            maxConcurrentAssets: { type: integer, const: 2 }
        status: { type: string }
        version: { type: [string, 'null'] }
        executionMode: { type: string, enum: [shadow, paper, mixed_simulation, unavailable] }
        dataAvailable: { type: boolean }
        openPositions: { type: integer, minimum: 0 }
        lastUpdatedAt: { type: [string, 'null'], format: date-time }
        latestDecisionRoundId: { type: [string, 'null'] }
        latestDecisionStatus: { type: [string, 'null'] }
    TradingAgent:
      type: object
      required: [key, sequence, name, question, outputName]
      properties:
        key:
          type: string
          enum: [market_analysis, technical_analysis, strategy_proposal, adversarial_review, risk_approval, final_decision, execution_receipt]
        sequence: { type: integer, minimum: 1, maximum: 7 }
        name: { type: string }
        question: { type: string }
        outputName: { type: string }
    DecisionRound:
      type: object
      required: [decisionRoundId, strategyCode, strategyName, strategyVersion, symbol, status, executionMode, completeness, events]
      properties:
        decisionRoundId: { type: string }
        strategyCode: { type: string }
        strategyName: { type: string }
        strategyVersion: { type: string }
        symbol: { type: string }
        status: { type: string }
        executionMode: { type: string, enum: [shadow, paper, mixed_simulation, unavailable] }
        completeness: { type: string, enum: [complete, partial, legacy] }
        traceId: { type: [string, 'null'] }
        updatedAt: { type: [string, 'null'], format: date-time }
        events:
          type: array
          items:
            type: object
            required: [sequence, role, conclusion, createdAt]
            properties:
              sequence: { type: integer, minimum: 1, maximum: 7 }
              role: { type: string }
              conclusion: { type: string }
              createdAt: { type: string, format: date-time }
    WalletBalance:
      type: object
      required: [currency, availableAmount, frozenAmount, version, updatedAt]
      properties:
        currency: { type: string }
        availableAmount: { type: string }
        frozenAmount: { type: string }
        version: { type: string }
        updatedAt: { type: string, format: date-time }
    ApiError:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code: { type: string }
            message: { type: string }
            details: { type: object, additionalProperties: true }
        requestId: { type: string }
  responses:
    Unauthorized:
      description: 会话缺失或已过期
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
    Forbidden:
      description: 当前 audience、权限或数据范围不允许
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
    Conflict:
      description: 自审、重复决定或状态冲突
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
    NotFound:
      description: 资源不存在或属于错误 audience
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
    Unprocessable:
      description: 业务校验失败
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
    RateLimited:
      description: 请求过于频繁
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
    Unavailable:
      description: 服务未配置、未启用或不健康
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
    Unavailable:
      description: 服务未配置、未启用或测试被关闭
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
